<h1>Login</h1>
<% if flash[:login_errors] %>
  <%= flash[:login_errors] %>
<% end %>
<form action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <p><input type="text" name="email" placeholder="Email" /></p>
  <p><input type="password" name="password" placeholder="Password" /></p>
  <input type="submit" value="Login" />
</form>
<hr />
<% if flash[:registration_errors] %>
  <% flash[:registration_errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
<h1>Register</h1>
<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <p><input type="text" name="first_name" placeholder="First Name" /></p>
  <p><input type="text" name="last_name" placeholder="Last Name" /></p>
  <p><input type="text" name="email" placeholder="Email" /></p>
  <p><input type="password" name="password" placeholder="Password" /></p>
  <input type="submit" value="Register" />
</form>
